{% extends 'base.html.twig' %}

{% block title %}Contact me{% endblock %}

{% block body %}
<div class="container">  
    <form class="contact" action="https://formspree.io/f/mdobezbd" method="POST">
        <h3>Contact Me</h3>
        <fieldset>
        <input placeholder="Your name" type="email" name="_replyto" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
        <input placeholder="Your Email" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
        <textarea placeholder="Type your message here...." name="message" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
  </form>
</div>
{% endblock %}